@use './variables' as *;

.board-container {
  display: flex;
  border-radius: 1vmin;
  margin: 2vmin;
  align-items: center;
  justify-content: space-between;
}

.box {
  border: 0.2vmin solid var(--black);
  border-radius: 2.4vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  width: 20vmin;
  height: 20vmin;
  padding: 1vmin;
  text-align: center;
  cursor: pointer;

  span {
    font-size: 13vmin;
  }
}
