.bottom {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-items: center;

  button {
    font-size: 3vmin;
    padding: 2vmin;
    margin-left: 8vmin;
    margin-right: 8vmin;
    border-radius: 1vmin;
    border: none;
    background-color: var(--light);
  }
}
