@use './variables' as *;

.bottom {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-items: center;

  button {
    font-size: 5vmin;
    padding: 0 4.7vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    border-radius: 1vmin;
    border: none;
    background-color: var(--gray-400);
    @extend %box-shadow;
    @extend %hover-move;

    &:hover {
      background-color: var(--white);
    }
  }
}

.moves-button {
  margin-left: 10vmin;
}
