@use './variables' as *;

.bottom {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-items: center;

  button {
    padding: 0 3.4vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    border-radius: 1vmin;
    border: none;
    background-color: var(--gray-400);

    @extend %box-shadow;
    @extend %hover-move;

    &:hover {
      background-color: var(--white);
    }

    i {
      padding: 1.5vmin;
      padding-top: 1.8vmin;
      font-size: 3vmin;
    }
  }
}

.moves-button {
  margin-left: 10vmin;
}
