@use './variables' as *;

.setup-title {
  padding: 2vmin;
  @extend %text-shadow;
}

.setup-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vmin;

  h1 {
    font-size: 6vmin;
  }
}

.setup-subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vmin;

  p {
    font-size: 3vmin;
  }
}

.setup {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;

  > div {
    padding: 0;
    padding-bottom: 0;
  }
}

.setup-container {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  button {
    padding: 0 3.4vmin;
    margin-top: 5vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    border-radius: 1vmin;
    border: none;
    background-color: var(--green);

    &:hover {
      background-color: var(--green-light);
    }

    i {
      padding: 1.5vmin;
      padding-top: 1.8vmin;
      font-size: 3vmin;
    }
  }
}

.setup-player-cross {
  color: var(--black);
  background-color: var(--yellow-dark);
  margin-left: 4vmin;
  margin-right: 4vmin;
  width: 40vmin;
  height: 40vmin;
  border-radius: 1.6vmin;
  text-align: center;

  @extend %box-shadow;
  @extend %hover-move;

  &:focus {
    outline: 0.5px solid var(--black);
  }

  h1 {
    padding-top: 4vmin;
    font-size: 3.5vmin;
  }

  input[type='text'] {
    background: none;
    margin-top: 6vmin;
    font-size: 3vmin;
    text-align: center;
    width: 80%;
    padding: 1.2vmin 2vmin;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.5vmin solid var(--black);

    &:focus {
      outline: none;
    }
  }

  ::placeholder {
    color: var(--black);
    opacity: 0.5;
  }
}

.setup-player-circle {
  @extend .setup-player-cross;
  background-color: var(--red-dark);
}
