@use './variables' as *;

.score {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2vmin;
  padding-left: 3vmin;

  @extend %text-shadow;

  h1 {
    font-size: 4vmin;
  }

  p {
    font-size: 3vmin;
  }
}

.settings {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 3vmin;
  padding-right: 3vmin;

  @extend %text-shadow;

  button {
    margin-left: 1vmin;
    margin-right: 1vmin;
    border-radius: 1vmin;
    border: none;
    background-color: var(--gray-400);

    @extend %box-shadow;
    @extend %hover-move;

    &:hover {
      background-color: var(--white);
    }

    i {
      padding: 1.5vmin;
      padding-top: 1.8vmin;
      font-size: 3vmin;
    }
  }
}

.title {
  padding: 2vmin;

  @extend %text-shadow;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 6vmin;
  }
}

.player-container {
  margin-top: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 3vmin;
  }
}
