.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.yellow-move {
  background-color: var(--yellow-dark);

  &:hover {
    background-color: var(--yellow-light);
  }
}

.red-move {
  background-color: var(--red-dark);

  &:hover {
    background-color: var(--red-light);
  }
}
