@use './partials/index' as *;

.main {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.win-animation {
  animation: expandingAnimation 1s infinite;
}

@keyframes expandingAnimation {
  0% {
    font-size: 18vmin;
  }
  50% {
    font-size: 16vmin;
  }
  100% {
    font-size: 18vmin;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .modal-content {
    width: 52.5%;
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 70%;
  }
}
