// @use '../sass-utils/variables' as *;

.setup-title-container h1 {
  font-size: 6vmin;
}

.setup-subtitle-container p {
  font-size: 3vmin;
}

.setup-player-cross h1 {
  padding-top: 4vmin;
  font-size: 3.5vmin;
}

.setup-player-circle {
  @extend .setup-player-cross;
}

.score {
  h1 {
    font-size: 4vmin;
  }

  p {
    font-size: 3vmin;
  }
}

.title-container h1 {
  font-size: 6vmin;
}

.player-container p {
  font-size: 3vmin;
}

.modal-content {
  h1 {
    color: var(--black);
    margin-left: 25vmin;
    margin-right: 25vmin;
    font-size: 4vmin;
    text-align: center;
  }

  p {
    color: var(--black);
    margin-left: 2vmin;
    margin-right: 2vmin;
    padding: 0.5vmin;
    font-size: 3vmin;
    text-align: left;
  }
}

.modal-close span {
  font-size: 5vmin;
  font-weight: bold;
  color: var(--black);

  &:hover,
  &:focus {
    color: var(--gray-400);
    text-decoration: none;
    cursor: pointer;
  }
}
