@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  -webkit-animation: fadeAnimation 0.3s forwards;
          animation: fadeAnimation 0.3s forwards;
}

body {
  background-color: var(--blue);
  color: var(--white);
}

button {
  cursor: pointer;
}

:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
  --primary: var(--blue);
  --secondary: var(--gray-600);
  --success: var(--green);
  --info: var(--cyan);
  --warning: var(--yellow);
  --danger: var(--red);
  --light: var(--gray-100);
  --dark: var(--gray-900);
  --green-light: #28a745;
}

.modal-content, .bottom-container button, .box, .setup-container button, .setup-player-x,
.setup-player-y {
  box-shadow: rgba(0, 0, 0, 0.3) 0vmin 1.9vmin 3.8vmin, rgba(0, 0, 0, 0.22) 0vmin 1.5vmin 1.2vmin;
}

.score, .title, .setup-title {
  text-shadow: rgba(0, 0, 0, 0.3) 0vmin 1.9vmin 3.8vmin, rgba(0, 0, 0, 0.22) 0vmin 1.5vmin 1.2vmin;
}

.bottom-container button:hover, .box:hover, .setup-container button:hover, .setup-player-x:hover,
.setup-player-y:hover {
  position: relative;
  top: 0.5vmin;
}

.setup-title {
  padding: 2vmin;
}

.setup-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12vmin;
}
.setup-title-container h1 {
  font-size: 6vmin;
}

.setup {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.setup > div {
  padding: 0;
  padding-bottom: 0;
}

.setup-container {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.setup-container button {
  padding: 0 3.4vmin;
  margin-top: 55vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  border-radius: 1vmin;
  border: none;
  background-color: var(--green);
}
.setup-container button:hover {
  background-color: var(--green-light);
}
.setup-container button i {
  padding: 1.5vmin;
  padding-top: 1.8vmin;
  font-size: 3vmin;
}

.setup-player-x,
.setup-player-y {
  color: var(--black);
  background-color: var(--white);
  margin-left: 5vmin;
  margin-right: 5vmin;
  width: 40vmin;
  height: 40vmin;
  border-radius: 1.6vmin;
  text-align: center;
}
.setup-player-x h1,
.setup-player-y h1 {
  padding-top: 4vmin;
  font-size: 3.5vmin;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vmin;
}
.score h1 {
  font-size: 4vmin;
}
.score p {
  font-size: 3vmin;
}

.title {
  padding: 2vmin;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container h1 {
  font-size: 6vmin;
}

.player-container {
  margin-top: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-container p {
  font-size: 3vmin;
}

.board-container {
  display: flex;
  border-radius: 1vmin;
  margin: 2vmin;
  justify-content: space-between;
  align-items: center;
}

.box {
  border: 0.5vmin solid var(--white);
  background-color: var(--dark);
  border-radius: 2.4vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  width: 20vmin;
  height: 20vmin;
  padding: 1vmin;
  font-size: 13vmin;
  text-align: center;
  cursor: pointer;
}

.bottom {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.bottom-container button {
  padding: 0 3.4vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  border-radius: 1vmin;
  border: none;
  background-color: var(--gray-400);
}
.bottom-container button:hover {
  background-color: var(--white);
}
.bottom-container button i {
  padding: 1.5vmin;
  padding-top: 1.8vmin;
  font-size: 3vmin;
}

.moves-button {
  margin-left: 10vmin;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--white);
  margin: auto;
  padding: 2vmin;
  padding-bottom: 10vmin;
  width: 75%;
  border-radius: 1vmin;
}
.modal-content h1 {
  color: var(--black);
  margin-left: 2vmin;
  margin-right: 2vmin;
  font-size: 4vmin;
  text-align: center;
  padding: 2vmin;
}
.modal-content p {
  color: var(--black);
  margin-left: 2vmin;
  margin-right: 2vmin;
  padding: 1vmin;
  font-size: 3vmin;
  text-align: left;
}
.modal-content p:nth-child(even) {
  background: var(--white);
}
.modal-content p:nth-child(odd) {
  background: var(--gray-400);
}

.modal-close {
  text-align: right;
  margin-right: 2vmin;
}
.modal-close span {
  font-size: 5vmin;
  font-weight: bold;
  color: var(--black);
}
.modal-close span:hover, .modal-close span:focus {
  color: var(--gray-400);
  text-decoration: none;
  cursor: pointer;
}

.main {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */